.wrapper{
   width: 100%;
   height: 100vh;
   overflow: hidden;
  /* color: rgb(88,76,119);*/
  color: #635E5E;
  
 }
 #contact{
  width: 80%;
  height: 70%;
  margin: 5% 10% ;
  box-shadow: 3px 3px 15px gray ;
  background: rgb(242, 226, 255);
 }
 .con-box{
   display: inline-block;
 }
 .info{
    color: rgb(201, 192, 228);
    height: 100%;
    width: 39%;
   /* background: rgb(88, 76, 119);*/
   background: #635E5E;
 }
 .con{
  padding: 5%;
 }
 .con-form{
  width: 60%;
  
 }
 .con h2{
  padding-top: 0;
  margin-top: 0;
  
 }
 .con ul li {
   list-style: none;
   margin: 8% 0;
   
 }
 .social-media{
  margin-top: 30%;
 }
 .social-media ul li{
  list-style: none;
  display: inline-block;
  margin: 0% 5%;
 }
 
 .social-media ul li i{
       color: rgb(201, 192, 228);
  
 }
 h2, .form input, .form textarea ,#sbmt-btn {
  display: block;
  border: none;
  margin: 5%;
  width: 90%;
  padding: 2%;
  
 }
 input, textarea{
    background: rgb(201, 192, 228);
}
::placeholder{
  color: #635E5E;
}

/*h2{
    text-transform: uppercase;
}*/
.con-form h2{
    color:#635E5E;
}
#sbmt-btn{
    padding: 1em 10em ;
    color: rgb(201, 192, 228);
    width: 94%;
  /*  background: rgb(88, 76, 119);*/
  background: #635E5E;
}


@media (max-width:800px){
    #contact{
        width: 100%;
        margin: 0;
        background: none;
    }
    .info, .con-form{
        width: 100%;
        height: 80%;
        
    }
    .social-media{
        margin-top: 10%;
    }
}

@media (max-width:600px){
    #contact{
        width: 100%;
        margin: 0;
        background: none;
    }
    .info, .con-form{
        width: 100%;
        height: 80%;
        
    }
    .social-media{
        margin-top: 10%;
        display: block;
    }
}
